<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>keynote</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <description></description>
    <display-name>ipadwebaction</display-name>
    <servlet-name>ipadwebaction</servlet-name>
    <servlet-class>com.emirates.mobile.servlet.EmiratesWebAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ipadwebaction</servlet-name>
    <url-pattern>/secure/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartUpServlet</display-name>
    <servlet-name>StartUpServlet</servlet-name>
    <servlet-class>com.emirates.mobile.servlet.StartUpServlet</servlet-class>
    <init-param>
      <param-name>appConfigPath</param-name>
      <param-value>D:/ipadconsole/config/app.properties</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartUpServlet</servlet-name>
    <url-pattern>/secure/config</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.emirates.mobile.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.emirates.mobile.servlet.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
</web-app>