/*** Main style goes there ***/
/* Commenting as this is already included in header.jsp*/
/*@import url("html_style.css");*/

/*** French language style goes there ***/
/*.btn-row a span,
.btn-row div span {
	font-size: 1rem;
}*/

.chackbox-row.right .chekbox-label span {
    width: auto;
    max-width: 50%;
    white-space: nowrap;
}

/* Fix for Tabs Russian/German */
.switch-button.reduce_fs,
.gray-button.reduce_fs {
    font-size: 0.73rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.gray-button.reduce_fs span {
    padding: 0; 
}

.passenger-flight-info .info-row .fl-left {
    max-width: 20rem;
}

@media only screen and (max-width: 480px) {
    .navigation-head .navigation-body .grid-nav a {
		font-size: 0.8rem;
	}

    .passenger-flight-info .info-row .fl-left {
        max-width: 10rem;
    }
}

/* Fix for columns in my statement page */
div.statement-table div.table-header div.table-cell {
    text-align: center;
    vertical-align: top;
    padding-top: 3px;
}
div.statement-table div.accordion-container div.table-cell {
    text-align: center;
}

/* Fix for the legend in the seat selector */
.expandable-info-box .cell {
    width: 50%;
    max-width: 50%;
}
@media (min-width:320px) {
    .expandable-info-box .cell span:last-child {
        width: 6rem;
    }
}

/* Fix for homepage buttons for longer languages */
.btn-row a span,
.btn-row div span {
    display: block;
    width: auto;
    margin-top: 10px;
}
.btn-row a, 
.btn-row div {
    text-align: center;
}
.btn-row .el {
    margin-right: 0px;
}
.welcome-bar-msg {
    white-space: normal;
    padding-left: 0.5rem;
}
.welcome-bar-btn {
    padding-right: 0.5rem;
}
.user-bar {
    padding: 0.5rem 0rem;
}
.user-bar .user-info {
    padding-left: 0.5rem;
}
.user-bar .account-info {
    padding: 0 0.5rem;
}

.gray-button.half {
    height: auto;
    padding: 0.5rem 0;
    white-space: normal;
}

.passenger-flight-info .passenger-label strong {
    max-width: 10.5rem;
}

.search-result-container .left-part {
    width: 70%;
}

.mobile-fare-families .body .table-body .table-body-cell .table-body-cell-inner .table-inner-content .accordion-white-border-cell.small-exp_coll_icons i {
  background-image: url("../../img/arrow-down-small.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  padding-left: 0px!important;
  margin-left: 0px;
  width: 8px;
  height: 5px;
}
.mobile-fare-families .body .table-body .table-body-cell .table-body-cell-inner .table-inner-content .accordion-white-border-cell.small-exp_coll_icons.opened i {
  background-image: url("../../img/arrow-up-small.png");
}