/*** Main style goes there ***/
@import url("html_style.css");

/*** Chinese language style goes there ***/
.option-head .brand-logo {
    background: url('../../img/ribbon-logo-china.png') no-repeat top left;
    top: 0;
    height: 5.565rem;
    width: 3.75rem;
    -webkit-background-size: 3.75rem 5.565rem;
    background-size: 3.75rem 5.565rem;
}
.head-bar .title-bar{
    width:72%;
}

.brand-logo,
.musthead .brand-logo {
	background-image: url('../../img/emirates_logo_cn.png');
	height: 3.84375rem;
	background-size: 3.8125rem 3.84375rem;
	top: 0.1rem;
}

.footer .back-home .text {
    width: 80%;
}

.upcoming-details .add-flight-info .cell:first-child {
    width: 28%;
}
.upcoming-details .add-flight-info .cell:nth-child(2n) {
    width: 45%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .calendar-head span {
        height:3.65625rem;
    }
    .modal-calendar .fullscreen-calendar .calendar-view .calendar-days {
        padding:6.46875rem 0 0 0;
    }
}